@tailwind base;
@tailwind components;
@tailwind utilities;

.cart-drawer {
  background-color: white;
  opacity: 1;
  position: fixed;
  top: 0;
  right: -400px;
  width: 400px;
  height: 100%;
  transition: right 0.3s ease;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  z-index: 1; 
}

.cart-drawer.open {
  right: 0; /* Moves the drawer into the view when open */
}

.close-cart-button,
.purchase-cart-button {
  background-color: #007acc; 
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px; 
}


/* CSS ABOVE IS FOR SHOPPINGCARTDRAWER!!! */

.cart-container {
  position: relative;
  display: inline-block;
  float: right;
  margin-right: 20px; /* Adjust as needed */
}

.cart-button {
  position: relative;
  display: inline-block;
}

.cart-button button {
  margin-left: 10px;
}

.cart-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  padding: 10px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.cart-item {
  margin-top: 10px;
}

.cart-buttons {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.buy-button {
  margin-top: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.active {
  background-color: #ccc;
}

/* Shopping cart button */
.main-cart-button {
  background-color: #555555;
  color: white;
  border: 2px solid #555555;
  border-radius: 8px;
  padding: 10px 20px;
  margin: 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1; /* Hoover effect not working without */
}

.main-cart-button:hover {
  background-color: white;
  color: black;
}

.main-cart-container {
  position: relative;
}


/* css below is for cards and its button */

.product-card {
  display: inline-block;
  border: 1px solid #ccc;
  padding: 16px;
  margin: 16px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  width: 350px; 
  height: 300px; 
}

.product-card h2 {
  font-size: 18px;
  margin: 8px 0;
}

.product-card p {
  margin: 4px 0;
}

.product-card p:last-child {
  font-weight: bold;
  color: #007bff;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
}

.card-button {
  background-color: #555555;
  color: white;
  border: 2px solid #555555;
  border-radius: 8px;
  padding: 10px 20px;
  margin: 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

.card-button:hover {
  background-color: white;
  color: black;
}


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 45 93% 47%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84% 43%;
    --destructive-foreground: 210 40% 98%;

    --success: 129 74% 45%;
    --success-foreground: 210 40% 98%;

    --warning-light: 53 98.3% 76.9%;
    --warning-dark: 45 93.4% 47.5%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;

    --monochrome-color: 0 0% 0%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;

    --primary: 45 93% 47%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 84% 43%;
    --destructive-foreground: 0 85.7% 97.3%;

    --success: 121 68% 44%;
    --success-foreground: 0 85.7% 97.3%;

    --warning-light: 53 98.3% 76.9%;
    --warning-dark: 45 93.4% 47.5%;

    --ring: 217.2 32.6% 17.5%;

    --monochrome-color: 0 0% 100%;
  }
}

@layer base {
  * {
    @apply border-border;
  } 
  body {
    @apply bg-background text-foreground;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
